@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/Fontspring-DEMO-MuseoSans_100.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/Fontspring-DEMO-MuseoSans_100_Italic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
}

/* 300 Light */
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/Fontspring-DEMO-MuseoSans_300.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/Fontspring-DEMO-MuseoSans_300_Italic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* 500 Medium */
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/Fontspring-DEMO-MuseoSans_500.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/Fontspring-DEMO-MuseoSans_500_Italic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* 700 Bold */
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/Fontspring-DEMO-MuseoSans_700.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/Fontspring-DEMO-MuseoSans_700_Italic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/Fontspring-DEMO-MuseoSans_900.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/Fontspring-DEMO-MuseoSans_900_Italic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-100.woff2")
      format("woff2"),
    url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-100.woff")
      format("woff"),
    url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-100.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-300.woff2")
      format("woff2"),
    url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-300.woff")
      format("woff"),
    url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-300.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-500.woff2")
      format("woff2"),
    url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-500.woff")
      format("woff"),
    url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-500.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-700.woff2")
      format("woff2"),
    url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-700.woff")
      format("woff"),
    url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-700.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-900.woff2")
      format("woff2"),
    url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-900.woff")
      format("woff"),
    url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-900.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-1000.woff2")
      format("woff2"),
    url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-1000.woff")
      format("woff"),
    url("../assets/fonts/FreeMonoSans/font/MuseoSansRounded-1000.ttf")
      format("truetype");
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}
