$color-petrol: #026786;
$color-teal: #009ca6;
$color-gray: #b3b3b3;

.sidebar {
  width: 280px;
  flex-shrink: 0;

  height: 100%;
  overflow-y: auto;

  padding: 40px 0 100px 40px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  scrollbar-width: none;

  @media (max-width: 768px) {
    display: none !important;
  }
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 16px 8px 20px;
    position: relative;

    .label {
      text-align: left;
      font-family: "MuseoSansRounded", sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: $color-gray;
    }

    &.active {
      .label {
        color: $color-teal;
        font-size: 22px;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 24px;
        width: 4px;
        background-color: $color-teal;
        border-radius: 2px;
      }
    }

    &.completed .label {
      color: $color-petrol;
      font-size: 22px;
    }

    .tick-wrapper {
      width: 19px;
      height: 19px;
      background: $color-petrol;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transform: scale(0);
      transition: all 0.2s;
      svg {
        color: white;
        font-size: 10px;
      }
    }
    &.completed .tick-wrapper {
      opacity: 1;
      transform: scale(1);
    }
  }
}
