@import "./styles/fonts.scss";

.top-bar {
  font-family: "MuseoSans", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "MuseoSans", sans-serif;
  background-color: #efeeee !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
